/*-----------
Body Section 
------------*/

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

/*-----------------------
Header Section --- Styles
----------------------- */

header{
    margin: 80px 10%;
}

.head-part{
    width: 100%;
    height: 40em;
    background-color: #161616;
    border-radius: 15px;
    display: flex;
}

.banner-head{
    color: white;
    width: 60%;
    margin: 8% 5%;
}

.banner-title{
    font-size: 70px;
}

.banner-text{
    font-weight: 400;
}

.banner-head button{
    background-color: red;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    outline: 0;
    border: none;
    text-align: center;
    padding: 10px;
    width: 150px;
    transition: ease-out 0.5s;
    cursor: pointer; 
    box-shadow: inset 0 0 0 0 yellow;
}

.fa-solid{
    padding-left: 5px;
}

.banner-image img{
    width: 100%;
    height: 100%;
}


/* ----------
Main Section 
------------*/

.main-part{
    margin: 0 10% ;
    display: flex;
}

/* Aside section */

.aside-sec{
    background-color: black;
    border-radius: 10px;
    width: 250px;
    padding: 30px;
    height: 240px;
    margin-right: 15px;
}

.link-button{
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin: 0;
}
.up-button a{
    width: 500px;
    height: 500px;
}

.group-btn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.link-button a{
    text-decoration: none;
    color: #161616;
    font-weight: 600;
    margin: 0;
    transition: 0.2s ease;
}

.link-button:hover{
    background-color: red;
    cursor: pointer;
}

.link-button a:hover{
    color: white;
}

/* Blog section */

.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:15px;
    grid-row-gap:15px ;
}

.blog{
    border: 1px solid rgba(207, 178, 178, 0.363);
    border-radius: 15px; 
}

.blog-images img{
    width: 100%;
}

.blog-text{
    padding: 20px;
    font-size: 15px;
    font-weight: 600;
}

.blog-text button{
    padding: 5px 8px;
}

.fa-regular{
    padding-right: 10px;
    color: hsl(0, 0%, 50%);
}

.icon-comment{
    font-weight: 400;
    padding-right: 20px;
    color: hsl(0, 0%, 60%);
}

.tab-button{
    visibility: hidden;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 0;
}

.tab-button button{
    background-color: red;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    border: none;
    border-radius: 5px;
}
/* ------------------------------- */
/* Second page( upcoming matches ) */
/* ------------------------------- */
.team-box{
    border: 1px solid rgba(207, 178, 178, 0.363);
    border-radius: 15px;
    text-align: center; 
}
.team-match{
    display: flex;
    padding: 50px 70px 0 70px;
}
.team-match h3{
    padding: 0 20px;
}
.team-box p{
    padding-bottom: 40px;
}
/* Footer section */

footer{
    margin-top: 130px;
    height: 320px;
    background-color: #161616;
    color: white;
    text-align: center;
    padding-top: 130px;
    font-size: 40px;
}
hr{
    width: 80vw;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-terms{
    font-size: 16px;
    padding-left: 20px;
}


/* Bonus section */

.banner-head button:hover{
    box-shadow: inset 150px 0 0 0 rgb(209, 141, 14);
    color: black;
}

.team-box-group{
    border: 1px solid rgba(207, 178, 178, 0.363);
    padding-top: 8px;
    border-radius: 15px;
    text-align: center; 
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.212);
}

.group-image img{
    width: 100%;
}

.link-group{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.clickable-links i{
    color: white;
    margin-left: 20px;
    padding-right: 20px;
}

.clickable-links i:hover{
    color: salmon;
    transition:  0.5s ease;
}



/* Responsive Section (Media Queries) */
/* ---------------------------------- */
/* Mobile devices */

@media screen and (max-width:688px) {
    
    .banner-head{
        width: 90%;
        text-align: center;
    }
    header{
        margin-bottom: 0;
    }
    .banner-title{
        font-size: 28px;
    }
    .banner-text{
        font-size: 13px;
    }
    .head-part{
        height: 20%;
        display: flex;
        flex-direction: column;
    }
    .banner-image img{
        width: 85%;
        margin-left: 20px;
    }
    .main-part, .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
    }
    .banner-head button{
        padding: 10px;
    }
    .aside-sec{
        width: 83%;
        background-color: white;
    }
    .link-button{
        border: 1px solid rgba(0, 0, 0, 0.199);
    }
    .footer-terms{
        padding-left: 0;
    }
    .footer-align{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-row-gap: 10px;
    }

}

/* Tab Devices */

@media screen and (min-width:689px) and (max-width:992px) {
    .head-part{
        height: auto;
    }
    .aside-sec{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 92%;
        background-color: white;
    }
    .link-button{
        margin: 0;
        width: 150px;
        border: 1px solid rgba(0, 0, 0, 0.199);
    }
    .main-part{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .tab-button{
        visibility: visible;
    }
}